.navBarContainer {
    display: flex;
    border-radius: 5px;
    box-shadow: #b8b6b6 5px 5px 5px;
    border: 1px solid gray;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
}

.navBarButton {
    font-family: sans-serif;
}

.navBarButton:hover {
    animation: navBarHover 0.3s ease-in-out forwards;
}

.linkDecoration {
    position: relative;
    text-decoration: none;
    color: black;
}

.linkDecoration::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.linkDecoration:hover::after {
    width: 100%;
}
